extends layout

block content
    div(class="table__container")
        table
            tr
                td='Id'
                td='Dagsetning'
                td='Nafn'
                td='Netfang'
                td='Kennitala'
                td='Fjöldi'
                each key in data
                    tr 
                        td=key.id
                        td=key.date
                        td=key.name
                        td=key.email
                        td=key.ssn
                        td=key.amount
        form(method='GET' action='admin/download')
            input(type='submit', value="Sækja")

    div(class="line")
    div(class="link")
        a(href="/")="Forsíða"