extends layout

block content
    div(class="table__container")
        table(border="1")
            tr
                th='Id'
                th='Dagsetning'
                th='Nafn'
                th='Netfang'
                th='Kennitala'
                th='Fjöldi'
                each key in data
                    tr 
                        td=key.id
                        td=key.date
                        td=key.name
                        td=key.email
                        td=key.ssn
                        td=key.amount
        form(method='GET' action='admin/download')
            input(type='submit', value="Sækja")

    div(class="footer__container")
        div(class="line")
        div(class="link")
            a(href="/")="Forsíða"